body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profileBackground {
  z-index: 0;
  position: relative;
}


.profileImg {
  z-index: 1;
  position: relative;
  top: -150px;
  left: 3px;
}

.profileName {
  z-index: 1;
  position: relative;
  top: -250px;
  left: -240px;
}

.profileFollow {
  z-index: 1;
  position: relative;
  top: -295px;
  left: 450px;
}

